<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>The Job Seeker</title>
    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- <script type="module" src="../templates/components/main.js"> </script> -->
    <!-- <script src="https://unpkg.com/vue@next"></script> -->


</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: #7FFFD4;" href="#">THE JOB SEEKER</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="created_role_listings.html">CREATED POSTINGS</a>
                    </li>
                        <a class="nav-link" href="#">SKILLS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">EMPLOYEES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- <div id="app">
        <navbar></navbar>
    </div> -->

    <div class="container mt-5" id = "app">
        <div class="row justify-content-center">
            <div class="col-md-10"> <!-- Restrict width to 8 columns on medium devices -->

                <div class="card">
                    <div class="card-header">
                        <h3>Edit A Role</h3>
                        <h6>Role ID : {{role.role_ID}}</h6>
                    </div>

                    <div class="card-body">
                        <form>
                            <div class="row mb-3">
                                <label for="role_name" class="col-sm-3" col-from-label>Role Title</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="role_name" v-model="role.role_name" required>
                                    <small class="text-danger" v-text="errors.role_name"></small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="role_description" class="col-sm-3" col-from-label>Description</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="role_description" rows="3" v-model="role.role_description" required></textarea>
                                    <small class="text-danger" v-text="errors.role_description"></small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="deadline" class="col-sm-3" col-from-label>Application Deadline</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="deadline" v-model="role.deadline">
                                    <small class="text-danger" v-text="errors.deadline"></small>
                                </div>
                            </div>
                
                            <!-- submit button -->
                            <div class="row mb-3">
                                <div style="text-align: right;">
                                    <a href="select_skills.html" id="selectSkillButton" class="btn btn-outline-dark">Select Skill</a>
                                    <button type="button" class="btn btn-dark" @click="updateRole" id="submitButton" style="color: greenyellow; font-weight: bold;">Submit</button>               
                                </div>
                            </div>
                
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>



<script>
    const app = Vue.createApp({
        data() {
            return {
                role: {
                    
                    role_name: '',
                    role_description: '',
                    deadline: ''
                },
                role_ID: null,
                errors: {
                    role_name:'',
                    role_description: '',
                    deadline: ''
                }
            };
        },
        methods: {
            validateForm(){
                let isValid = true;

                // Reset errors
                this.errors = {
                    role_name: '',
                    role_description: '',
                    deadline: ''
                };

                // Validate role name
                if (!this.role.role_name) {
                    this.errors.role_name = 'Role name is required';
                    isValid = false;
                }

                // Validate role description
                if (!this.role.role_description) {
                    this.errors.role_description = 'Role description is required';
                    isValid = false;
                }

                // Validate deadline
                if (!this.role.deadline) {
                    this.errors.deadline = 'Deadline is required';
                    isValid = false;
                }

                return isValid;


            },
    
            updateRole() {
                if (this.validateForm()){
                    axios.put(`http://127.0.0.1:5002/update_role/${this.role_ID}`, this.role)
                    .then(response => {
                        alert('Role updated successfully!');
                        window.location.href = '/HR/created_role_listings.html'
                        console.log(response.data())
                    })
                    .catch(error => {
                        alert('Failed to update the role. Please try again.');
                    });
                }
            }, 

        }, 
        created() {
            const urlParams = new URLSearchParams(window.location.search);
            this.role_ID = urlParams.get('role_id');
            console.log(this.role_ID);
    
            if (this.role_ID) {
                axios.get(`http://127.0.0.1:5002/roles/${this.role_ID}`)
                    .then(response => {
                        console.log(response.data.data);
                        this.role = response.data.data;
                    })
                    .catch(error => {
                        console.error('Failed to fetch the role data:', error);
                    });
            } else {
                console.error('No role_id provided');
            }
        }
    });
    
    app.mount('#app');
</script>

</body>

</html>