<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>The Job Seeker</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: #7FFFD4;" href="#">THE JOB SEEKER</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"  href="#">CREATED POSTINGS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" aria-current="page" href="#">SKILLS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">EMPLOYEES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center mt-5" id="app">
        <div class="row">
            <!-- FILTER -->
            <div class="col-2" style = "text-align: left;">
                <h4 style="font-weight: bold;" class="mb-3">SEARCH FILTER</h4>
                <div class = "row" id="departmentFilter">
                    <p style="font-weight: 500;" class="mb-2"> Department </p>
                    <hr class="mx-2 w-75"/>
                    <div class="w-75">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Finance" id="FinanceFilter">
                            <label class="form-check-label" for="FinanceFilter">Finance</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Operations" id="OperationsFilter">
                            <label class="form-check-label" for="OperationsFilter">Operations</label>
                        </div>    
                            
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="IT" id="ITFilter">
                            <label class="form-check-label" for="ITFilter">Information Technology</label>
                        </div> 
                            
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Sales" id="SalesFilter">
                            <label class="form-check-label" for="SalesFilter">Sales</label>
                        </div> 
                            
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="Data" id="DataFilter">
                            <label class="form-check-label" for="DataFilter">Data</label>
                        </div> 
                    </div> 
                </div>

                <div class = "row" id="AnotherFilter">
                    <p style="font-weight: 500;" class="my-2"> Another Filter </p>
                    <hr class="mx-2 w-75"/>
                    <div class="w-75">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="a" id="aFilter">
                            <label class="form-check-label" for="aFilter">A</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="b" id="bFilter">
                            <label class="form-check-label" for="bFilter">B</label>
                        </div>    
                            
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="c" id="cFilter">
                            <label class="form-check-label" for="cFilter">C</label>
                        </div> 
                            
                    </div> 
                </div>
            </div>
            <div class="col-10">
                <div class = "row">
                    <!-- Create New Skill Button, do later -->
                    <div class="col-5 m-0 col-sm-5 col-md-6 col-lg-3 col-xl-2">
                        <a href="./create_role_listing.html" class="btn btn-dark w-100 m-2" style="color: greenyellow; font-weight: bold;">CREATE POSTING</a>
                    </div>
                    <!-- SEARCH BAR -->
                    <div class="col-5 d-flex align-items-center col-sm-7 col-md-6 col-lg-9 col-xl-10">
                        <form class="form-inline d-flex w-100">
                            <div class = "input-group">
                                <input class="form-control mr-2 flex-grow-1" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0 p-2" type="submit">Search</button>
                                
                            </div>
                            
                        </form>
                    </div>
                    
                </div>
                
                <!-- Sort By Bar -->
                <div class="row justify-content-start">
                    <div class="dropdown col-12">
                        <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Sort By
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" @click="sort_alphabetically">Alphabetically (A to Z)</a></li>
                        </ul>
                    </div>
                </div>
                

                <!-- Table of skills -->
                <div v-if="database_error==false">
                    <table class="table mt-3 table-bordered table-hover">
                        <thead class="table-dark">
                            <th scope="col" class="w-25">ID</th>
                            <th scope="col" class="w-75">Skill Name</th>
                        </thead>
                        <tbody>
                            <tr v-for="skill in grouped_skills[current_page-1]">
                                <td>{{skill.skill_ID}}</td>
                                <td>{{skill.skill_name}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Skill page navigation">
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link text-black" @click="go_previous_page()">Previous</a></li>
                          <li class="page-item" v-for="i in grouped_skills.length"><a class="page-link text-black" @click="go_page(i)">{{i}}</a></li>
                          <li class="page-item"><a class="page-link text-black" @click="go_next_page()">Next</a></li>
                        </ul>
                      </nav>
                </div>
                

                <!-- Error message -->
                <div class="alert alert-danger mt-3" role="alert" v-else>
                    <h4 class="alert-heading">Error!</h4>
                    <p>There was an error loading the skills from the database. Please try again later.</p>
                </div>

            </div>
        </div>

    </div>

<!-- SCRIPTS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<!-- Filter script -->
<script src="skill.js"></script>
</body>

</html>